$formPadding: 15px;
$signInColor: #327dff;
$clickImg: pointer;


.search-id-section {
  display: flex;
  justify-content: center;

  .search-id-wrapper {
    width: 600px;
    border: 1px solid #838383;
    border-radius: 5px;
    margin-top: 250px;
    box-shadow: 0px 1px 5px 2px rgba(149, 149, 149, 0.8);


    .title {
      background-color: $signInColor;
      padding: $formPadding;
      color: white;
    }

    .info-wrapper {
      padding: 15px 15px 0 15px;

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        //justify-content: space-between;
        margin-bottom: $formPadding;

        .icon {
          padding-bottom: 13px;
          margin-right: 3px;
        }

        div {
          width: 540px;
          height: 30px;
          //border: 1px solid #dcdcdc;
        }
      }


    }

    .button-wrapper {
      padding: 0px 15px 15px 15px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;


      .close {
        color: white;
        padding: 5px;
        background-color: $signInColor;
        border-radius: 5px;
        cursor: $clickImg;
      }
    }

  }
}